{{!-- display each saved article from db --}} 
{{#each article}}
<div class="card mb-4">
    <h4 class="card-header">{{headline}}
        <button class="btn mr-1 float-right commentsBtn" article-id="{{_id}}" data-toggle="modal" data-target="commentModal">Article Comments</button>
        <button class="btn mr-1 float-right deleteArticle" article-id="{{_id}}">Delete Me</button>
    </h4>
    <div class="card-body">
        <p class="card-text">{{summary}}</p>
        <a href="http://www.bbc.com/{{link}}" target="#" class="btn btn-dark">Read More</a>
    </div>
</div>

{{/each}} 
{{!-- modal stuff --}}
<div class="modal fade" id="commentModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Notes for Article: <p id = "articleHeadline"></p></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{!-- add syntax to add content of each note related to article and delete button --}}
                <ul class="list-group p-2" id="commentList">
                    {{!-- <li class="list-group-item">example comment- in html
                        <button class="btn float-right deleteCommBtn">X</button>
                    </li> --}}
                </ul>
                <form>
                    <div class="form-group">
                        <label>Add a new comment below</label>
                        <textarea class="form-control" id="userInput" placeholder="Comment ..." rows="3"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="newComment" class="btn btn-dark" data-dismiss="modal">Save Comment</button>
            </div>
        </div>
    </div>
</div>